*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Common classes */

.disp_flex{
  display: flex;
}
.disp_block{
  display: block;
}
.txt_center{
  text-align: center;
}
.txt_left{
  text-align: left;
}
