*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1{
  font-size: 70px;
}
h2{
  font-size: 40px;
}
p{
  font-size: 20px;
}

/* Common classes */

.disp_flex{
  display: flex;
}
.space_bet{
  justify-content: space-between;
}
.flex_col{
  flex-direction: column;
}
.disp_block{
  display: block;
}
.txt_center{
  text-align: center;
}
.txt_left{
  text-align: left;
}
.mg_auto{
  margin: auto;
}

/* Variables */
:root {
  --primary_color: rgb(64, 196, 255) ;
  --secondary_color: rgb(242, 248, 252) ;
}